@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    min-height: 100vh;
    background-image: url(bg.webp);
    background-repeat: no-repeat;
    background-size: center;
    background-attachment: fixed;
    background-position: cover;
    scroll-behavior: smooth;
    transition: 0.5s;
}

/*NAvigation Start*//*NAvigation Start*//*NAvigation Start*/
.navigation{
    position: fixed;
    inset: 20px;
    background: rgba(0, 0, 0, 0.432);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 80px;
    border-radius: 50px;
    border-left: 10px solid #ffffff00;
    border-right: 10px solid #ffffff00;
    overflow: hidden;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    z-index: 1000;
}

.navigation.active{
    width: 200px;
    border-radius: 10px;
}

/*toggle button Start*/
.toggle{
    position: absolute;
    bottom: 15px;
    right: 5px;
    width: 50px;
    height: 50px;
    background: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
/*toggle button End*/

.navigation.active .toggle{
    border-radius: 10px;
}

.toggle::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 5px;
    border-radius: 3px;
    background-color: black;
    transform: translateY(-5px);
    transition: 1.5s;
}

.toggle::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 5px;
    border-radius: 3px;
    background-color: black;
    transform: translateY(5px);
    transition: 1.5s;
}

/*toggle button animation Start*/
.navigation.active .toggle::before{
    transform: translateY(0px) rotate(-405deg);
}

.navigation.active .toggle::after{
    transform: translateY(0px) rotate(225deg);
}
/*toggle button animation End*/

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-radius: 10px;
    /*background: #fff;*/
}

.navigation ul li:hover{
    background: #ffffff;
    transition: 1s;

}

.navigation ul li:nth-child(1){
    top: 20px;
    margin-bottom: 60px;
    background: none;
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #ffffff;
}

.navigation ul li:hover:not(:first-child) a{
    color: #000000;
    transition: 1s;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    padding-top: 3px;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon{
    font-size: 1.75em;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 15px;
    height: 60px;
    line-height: 55px;
    text-align: start;
    white-space: nowrap;
}
/*Navigation End*//*NAvigation Start*//*NAvigation Start*/

/*content Start*/
.content{
    padding-left: 120px;
    padding-right: 20px;
    padding-bottom: 20px;
}
/*content End*/

/*home start*//*home start*//*home start*/
.box-container1{
    min-height: 50vh;
    width: 100%;
    background-image:url(heightpic.avif);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.box-container2{
    min-height: 40vh;
    width: 100%;
    background-image:url(cod.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.box-container3{
    min-height: 40vh;
    width: 100%;
    background-image:url(win.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.hyperlink{
    font-weight: 500;
    color: #ffffff;
}

.icon-h{
    margin-left: 10px;
    font-size: 15px;
}

.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.col-1 h2{
    font-size: 36px;
    padding: 70px
 
}

.col-1 h3{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin: -40px 0 0px;
    margin-left: 70px;
    margin-bottom: 30px; 
}

.content-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content1{
    flex-basis: 19%;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    color: rgb(67, 76, 85);
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.356);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
}

.content1 img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content1:hover{
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.7);
    transform: scale(105%);
    z-index: 2;
}

.content-txt h3{
    color: rgb(255, 255, 255);
    font-size: 28px;
    padding-bottom: 10px;
}

.content-txt p{
    color: rgb(255, 255, 255);
    font-size: 16px;
}

button{
    width: 160px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    background: linear-gradient(to right, rgb(0, 59, 168), rgb(0, 128, 255));
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 70px;
}

button:hover{
    box-shadow: 0 0 20px 4px rgba(39, 39, 39, 0.5);
    transform: scale(105%);
}

/*home end*//*home end*//*home end*/

/*Media Queries*/
@media only screen and (max-width: 425px){

    .box-container1{
        min-height: 25vh;
        margin-bottom: 10px;
        background-size: 75vh;
    }

    .box-container2{
        min-height: 35vh;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .box-container3{
        min-height: 35vh;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .hyperlink{
        font-weight: 300;
    }
    
    .icon-h{
        margin-left: 0px;
        font-size: 0px;
    }
    
    .col-1{
        flex-basis: 40%;
        margin-left: 10px;
    }
    
    .col-1 h2{
        font-size: 30px;
        padding: 10px;
        margin-top: 20px;
    }
    
    .col-1 h3{
        font-size: 15px;
        color: rgb(0, 0, 0);
        font-weight: 400;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 25px; 
    }
   
    .content1{
        flex-basis: 100%;
        text-align: center;
        border-radius: 10px;
        padding-bottom: 10px;
        padding-top: 2px;
        padding-left: 2px;
        padding-right: 2px;
        margin: 5px;
        color: rgb(67, 76, 85);
        transition: 0.5s;
        background: rgba(0, 0, 0, 0.356);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(5px);
    }
    
    .content1 img{
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .content-txt h3{
        color: rgb(255, 255, 255);
        font-size: 28px;
        padding-bottom: 10px;
    }
    
    .content-txt p{
        color: rgb(255, 255, 255);
        font-size: 14px;
    }
    
    button{
        width: 130px;
        border: 0;
        padding: 10px 10px;
        outline: none;
        background: linear-gradient(to right, rgb(0, 59, 168), rgb(0, 128, 255));
        border-radius: 10px;
        cursor: pointer;
        transition: 0.5s;
        margin-left: 10px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 768px){

    .box-container1{
        min-height: 25vh;
        margin-bottom: 10px;
        background-size: 75vh;
        margin-bottom: 10px;
        margin-top: 10px;
        border-radius: 10px;
    }

    .box-container2{
        min-height: 25vh;
        margin-bottom: 10px;
    }
    
    .box-container3{
        min-height: 25vh;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .hyperlink{
        font-weight: 300;
    }
    
    .icon-h{
        margin-left: 5px;
        font-size: 15px;
    }
    
    .col-1{
        flex-basis: 40%;
        margin-left: 10px;
    }
    
    .col-1 h2{
        font-size: 25px;
        padding: 10px;
        margin-top: 30px;
    }
    
    .col-1 h3{
        font-size: 15px;
        color: rgb(0, 0, 0);
        font-weight: 400;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 25px; 
    }
   
    .content1{
        flex-basis: 45%;
        text-align: center;
        border-radius: 10px;
        padding-bottom: 10px;
        padding-top: 2px;
        padding-left: 2px;
        padding-right: 2px;
        margin: 5px;
        color: rgb(67, 76, 85);
        transition: 0.5s;
        background: rgba(0, 0, 0, 0.356);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(5px);
    }
    
    .content1 img{
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .content-txt h3{
        color: rgb(255, 255, 255);
        font-size: 25px;
        padding-bottom: 10px;
    }
    
    .content-txt p{
        color: rgb(255, 255, 255);
        font-size: 14px;
    }
    
    button{
        width: 150px;
        border: 0;
        padding: 10px 10px;
        outline: none;
        background: linear-gradient(to right, rgb(0, 59, 168), rgb(0, 128, 255));
        border-radius: 10px;
        cursor: pointer;
        transition: 0.5s;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 1024px){

    .box-container1{
        min-height: 35vh;
        margin-bottom: 10px;
        background-size: cover;
        margin-bottom: 10px;
        margin-top: 10px;
        border-radius: 10px;
    }

    .box-container2{
        min-height: 35vh;
        margin-bottom: 10px;
    }
    
    .box-container3{
        min-height: 35vh;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .hyperlink{
        font-weight: 400;
    }
    
    .icon-h{
        margin-left: 10px;
        font-size: 15px;
    }
    
    .col-1{
        flex-basis: 40%;
        margin-top: 20px;
    }
    
    .col-1 h2{
        font-size: 30px;
        padding-left: 30px;
        padding-top: 20px;
        margin-top: 10px;
    }
    
    .col-1 h3{
        font-size: 18px;
        color: rgb(0, 0, 0);
        font-weight: 400;
        margin-top: 10px;
        margin-left: 30px;
        margin-bottom: 35px; 
    }
   
    .content1{
        flex-basis: 23%;
        text-align: center;
        border-radius: 10px;
        padding-bottom: 10px;
        padding-top: 2px;
        padding-left: 2px;
        padding-right: 2px;
        margin: 5px;
        color: rgb(67, 76, 85);
        transition: 0.5s;
        background: rgba(0, 0, 0, 0.356);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(5px);
    }
    
    .content1 img{
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .content-txt h3{
        color: rgb(255, 255, 255);
        font-size: 20px;
        padding-bottom: 10px;
    }
    
    .content-txt p{
        color: rgb(255, 255, 255);
        font-size: 12px;
    }
    
    button{
        width: 150px;
        border: 0;
        padding: 10px 10px;
        outline: none;
        background: linear-gradient(to right, rgb(0, 59, 168), rgb(0, 128, 255));
        border-radius: 10px;
        cursor: pointer;
        transition: 0.5s;
        margin-left: 30px;
    }
}

@media only screen and (max-width: 1440px){

    .box-container1{
        min-height: 35vh;
        margin-bottom: 10px;
        background-size: cover;
        margin-bottom: 10px;
        margin-top: 10px;
        border-radius: 10px;
    }

    .box-container2{
        min-height: 35vh;
        margin-bottom: 10px;
    }
    
    .box-container3{
        min-height: 35vh;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .hyperlink{
        font-weight: 400;
    }
    
    .icon-h{
        margin-left: 10px;
        font-size: 15px;
    }
    
    .col-1{
        flex-basis: 40%;
        margin-top: 20px;
    }
    
    .col-1 h2{
        font-size: 30px;
        padding-left: 30px;
        padding-top: 25px;
        margin-top: 10px;
    }
    
    .col-1 h3{
        font-size: 18px;
        color: rgb(0, 0, 0);
        font-weight: 400;
        margin-top: 10px;
        margin-left: 30px;
        margin-bottom: 35px; 
    }
   
    .content1{
        flex-basis: 23%;
        text-align: center;
        border-radius: 10px;
        padding-bottom: 10px;
        padding-top: 2px;
        padding-left: 2px;
        padding-right: 2px;
        margin: 5px;
        color: rgb(67, 76, 85);
        transition: 0.5s;
        background: rgba(0, 0, 0, 0.356);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(5px);
    }
    
    .content1 img{
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .content-txt h3{
        color: rgb(255, 255, 255);
        font-size: 20px;
        padding-bottom: 10px;
    }
    
    .content-txt p{
        color: rgb(255, 255, 255);
        font-size: 15px;
    }
    
    button{
        width: 150px;
        border: 0;
        padding: 10px 10px;
        outline: none;
        background: linear-gradient(to right, rgb(0, 59, 168), rgb(0, 128, 255));
        border-radius: 10px;
        cursor: pointer;
        transition: 0.5s;
        margin-left: 30px;
    }
}
